<div class="card h-100">
    <img src="{{user.imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body d-flex flex-column border-bottom border-3">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.mail}}</p>
      <p class="card-text">{{user.location?.address}}</p>
      <p class="card-text">{{user.orders?.length}}</p>
      <a *ngIf="user.orders" (click)="showDetail.emit()" class="card-text mb-2">View Order</a>
        <div class="d-flex justify-content-between">
            <a (click)="updated.emit(user)" href="#" class="btn btn-primary">Edit</a>
            <a (click)="onDelete.emit(user)" href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
  </div>