<div class="row align-items-center py-2" *ngFor="let user of users">
    <div class="col-1">
        <div class="img-container">
            <img class="list-image" src="{{user.imageUrl}}" alt="" srcset="">
        </div>
    </div>
    <div class="col-2">{{user.name}} {{user.surname}}</div>
    <div class="col-2">{{user.mail}}</div>
    <div class="col-2">{{user.location.address}}</div>
    <div class="col-1">{{user.orders.length}}</div>
    <div class="col-2">
        <a (click)="showDetail.emit()" href="#">View Details</a>
    </div>
    <div class="col-2">
        <a href="#" class="btn btn-primary me-2">Edit</a>
        <a (click)="onDelete.emit(user)" href="#" class="btn btn-danger">Delete</a>
    </div>
</div>